* {
  margin: 0px;
  padding: 0px;
}

.main-header {
  height: 50px;
}

.bgimage {
  width: 100%;
  height: 130px;
  background: grey;

  background: url("https://images.unsplash.com/photo-1490971588422-52f6262a237a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: contain;
}
.bgimage h5 {
  color: white;
  text-shadow: 2px 2px #333;
  padding-top: 2px;
}

.favorite-link {
  margin-left: 30px;

  position: relative;
}

.favorite-list-container {
  display: inline-block;

  margin-top: 20px;
}

.movietext {
  margin-top: -40px;
}

.inputcontainer {
  width: 500px;
  padding-top: 1px;
  margin-top: 1px;
}

.searchinput {
  line-height: 35px;
  bottom: -80px;
  border: 3px rgb(14, 80, 202) solid;
}

.card {
  min-height: 1000px;
  width: 100%;

  margin-top: 150px;
}
.card-img-top {
  max-height: 500px;
}
.card-text {
  margin-top: 50px;
}
.fixed-top {
  border: 5px solid white;

  margin: auto;
}

.added-favorite {
  max-height: 10px;
}

.added-favorite::after {
  display: block;
  content: attr(title);
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.hidden {
  display: none;
}

.favoriteheader {
  margin-top: 95px;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .favorite-link {
    font-size: 8px;
    margin-left: 150px;
    top: -25px;
    position: relative;
  }

  .inputcontainer {
    width: auto;
    padding-top: 1px;
    margin-top: 1px;
  }

  .gotosearchlink {
    font-size: 8px;

    margin-top: 10px;
    padding-left: 115px;
  }
  .bgimage {
    height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .favorite-link {
    font-size: 8px;
    margin-left: 110px;
    top: -25px;
    position: relative;
  }

  .inputcontainer {
    width: auto;
    padding-top: 1px;
    margin-top: 1px;
  }

  .gotosearchlink {
    font-size: 8px;
    margin-top: 10px;
    padding-left: 115px;
  }

  .bgimage {
    height: 200px;
  }
}
